BODY {background-image: url("background.jpg"); 
		background-color: black;
		background-size: 1875px 1191.25px;
		background-attachment: fixed;
		color: white}
IMG {display: block; 
			margin-left: auto; 
			margin-right: auto}
P.indent {text-indent: 25px}
P.center {text-align: center}
TABLE {border-color:white}
STRONG {text-align: center}
